In [1]:
import os
print("PYTHONPATH:", os.environ.get('PYTHONPATH'))
print("PATH:", os.environ.get('PATH'))

PYTHONPATH: None
PATH: /Applications/anaconda3/envs/learn-env/bin:/Applications/anaconda3/condabin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

In [7]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib as mp
import seaborn as sns

In [8]:
np.__version__

'1.20.2'

In [9]:
# !pip install python-Levenshtein
# !pip install fuzzywuzzy
from fuzzywuzzy import process, fuzz

In [10]:
bom = pd.read_csv('data/bom.movie_gross.csv') #suggested use
imdb_name_basics = pd.read_csv('data/imdb.name.basics.csv')
imdb_title_akas = pd.read_csv('data/imdb.title.akas.csv')
imdb = pd.read_csv('data/imdb.title.basics.csv') #suggested use
imdb_title_crew = pd.read_csv('data/imdb.title.crew.csv')
imdb_title_principals = pd.read_csv('data/imdb.title.principals.csv')
imdb_title_ratings = pd.read_csv('data/imdb.title.ratings.csv') #suggested use
tmdb_movies = pd.read_csv('data/tmdb.movies.csv')
tn_movie_budgets = pd.read_csv('data/tn.movie_budgets.csv')

# These two .tsv so need to define the delimiter/seperator
rt_movie_info = pd.read_csv('data/rt.movie_info.tsv', sep='\t')

# This one also required a different encoding format, error while reading UTF-8
rt_reviews = pd.read_csv('data/rt.reviews.tsv', sep='\t', encoding = "ISO-8859-1")

In [11]:
bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [12]:
imdb['primary_title']

0                                           Sunghursh
1                     One Day Before the Rainy Season
2                          The Other Side of the Wind
3                                     Sabse Bada Sukh
4                            The Wandering Soap Opera
                             ...
146139                            Kuambil Lagi Hatiku
146140    Rodolpho Teóphilo - O Legado de um Pioneiro
146141                                Dankyavar Danka
146142                                         6 Gunn
146143                 Chico Albuquerque - Revelações
Name: primary_title, Length: 146144, dtype: object

In [13]:
bom['title']

0                                       Toy Story 3
1                        Alice in Wonderland (2010)
2       Harry Potter and the Deathly Hallows Part 1
3                                         Inception
4                               Shrek Forever After
                           ...
3382                                      The Quake
3383                    Edward II (2018 re-release)
3384                                       El Pacto
3385                                       The Swan
3386                              An Actor Prepares
Name: title, Length: 3387, dtype: object

In [16]:
%%time
similarity = []
matched_title = []

for i in bom['title'].head(10):
    ratio = process.extract(i, imdb['primary_title'], scorer=fuzz.token_set_ratio, limit=1)
    matched_title.append(ratio[0][0])
    similarity.append(ratio[0][1])
    if ratio[0][1] > 95:
        continue

bom['matched_title'] = pd.Series(matched_title)
bom['similarity'] = pd.Series(similarity)

CPU times: user 18.9 s, sys: 83.2 ms, total: 19 s
Wall time: 19.5 s

In [15]:
bom.head()

,title,studio,domestic_gross,foreign_gross,year,matched_title,similarity
0,Toy Story 3,BV,415000000.0,652000000,2010,Toy Story 3,100.0
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010,Alice in Wonderland,100.0
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010,Harry Potter and the Deathly Hallows: Part 1,100.0
3,Inception,WB,292600000.0,535700000,2010,Inception,100.0
4,Shrek Forever After,P/DW,238700000.0,513900000,2010,Shrek Forever After,100.0

In [ ]:
# df['sdfsdf'].str.contains('sdfsdfsdf')